
<div class="content" >

  <div class="about-us">
      <h1>Witaj na naszym portalu! Jesteś gotowy by znaleźć miłość? </h1>
      <div class="images">
      <img class="image" src="assets/img/i3.jpg" width="85%" height="85%">
    </div>

    <h2>>> Jesteśmy niezawodnym serwisem matrymonialnym, wspierającym naszych użytkowników w szukaniu stałego lub tymczasowego partnera </h2>
    <h2>>> Użytkownicy sześciu kontynentów zaufali nam i powierzyli szukanie miłości ich życia </h2>
    <h2>>> Ponad 140% wszystkich użytkowników Konta Premium znalazło swoją miłość</h2>
    <h3>Nie czekaj, bądź jednym z nich!</h3>


  </div>
  <div class="autors"> </div>
  <div style="clear: both"> </div>
</div>
