@font-face {
  font-family: GreatVibes;
  src: url("GreatVibes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: JuliusSansOne;
  src: url("JuliusSansOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: OpenSansCondensed-Bold;
  src: url("OpenSansCondensed-Bold.ttf") format("truetype");
}


@font-face {
  font-family: OpenSansCondensed-Light;
  src: url("OpenSansCondensed-Light.ttf") format("truetype");
}


@font-face {
  font-family: OpenSansCondensed-LightItalic;
  src: url("OpenSansCondensed-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: NewsCycle-Regular;
  src: url("NewsCycle-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Exo;
  src: url("Exo-Regular.ttf") format("truetype");
}
