.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("/assets/img/i6.jpg") no-repeat center;
  height: 700px;
  border-bottom: 1px solid #20191c;
  background-size: 100%;
}

.content {
  width: 60%;

  float: left;

}

.sidenav {
  width: 40%;
  float: left;
}

.random {
  position: relative;
  width: 370px;
  padding: 20px 30px;
  margin: 0;
  top: 8vh;
  left: 5vw;
  border-radius: 2px;
  background-color: #f8f9f9;
  box-shadow: 0 15px 12px 0 rgba(0, 0, 0, .22), 0 19px 38px 0 rgba(0, 0, 0, .3);
  overflow: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 1.6;
  font-weight: 400;
  font-family: open sans, sans-serif;
  color: #282b33;
  float: left;
}

.title {
  font-family: GreatVibes;
  border-bottom: 1px solid #961e56;
  font-size: 30px;
}

.picture-voting {
  box-shadow: 0 0 10px 0 #1F2532;
  background-position: center;
  background-size: contain;
  border: solid 5px #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  height: 92%;
  left: 5.8%;
  top: 7.14%;
  transition: -webkit-transform .6s ease-out;
  transition: transform .6s ease-out;
  transition: transform .6s ease-out, -webkit-transform .6s ease-out;
  width: 92%;
  margin-top: 6px;
}

.favico {
  margin: 10px;
}

.ico {
  font-size: 40px;
  height: 50px;
  width: 50px;
  color: rgb(31, 37, 50);
  float: left;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 4px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

.title-content {
  text-transform: uppercase;
  font-family: NewsCycle-Regular;
  font-size: 30px;
  letter-spacing: 1px;
  display:flex;
  justify-content: space-around;
  margin-top:450px;
  background-color: #FFFFFF;
  opacity: 0.6;
}

.title-content p {
  opacity: 1;

}
