
<div class="wrapper">
  <div class="content">
   <div class="title-content">
  <p>  Znajdź swoją prawdziwą miłość! </p>
   </div>

  </div>
  <div class="sidenav">

    <div class="random">
      <div class="title">
        Czy to miłość od pierwszego polubienia?
      </div>
      <div class="candidate-votable">

        <img class="picture-voting" src="assets/img/users/user5.jpg" width="60" height="60%">
        <div class="icons">


            <div class="favico" >
              <mat-icon class="ico"  >thumb_up</mat-icon>

            </div>

            <div class="favico">
              <mat-icon class="ico" >thumb_down</mat-icon>

              </div>

          <div style="clear: both"> </div>

      </div>
      </div>
    </div>

  </div>
  <div style="clear: both"> </div>
</div>
