<div class="wrapper">

<div class="views">

<div class="header">
  <mat-icon [inline]="true" class="icons">thumb_up_alt</mat-icon> <h5 class="h5class"> Cenię </h5>
  <div style="clear: both"> </div>
</div>

<div class="header">
    <mat-icon [inline]="true" class="icons"> restaurant_menu</mat-icon> <h5 class="h5class"> Kocham kuchnię </h5>
    <div style="clear: both"> </div>
    <app-food> </app-food>
  </div>

  <div class="header">
      <mat-icon [inline]="true" class="icons">wb_sunny</mat-icon> <h5 class="h5class"> Wymarzony urlop to... </h5>
      <div style="clear: both"> </div>
      <app-holiday></app-holiday>
    </div>

    <div class="header">
        <mat-icon [inline]="true" class="icons">pool</mat-icon> <h5 class="h5class"> Moje ulubione formy aktywności </h5>
        <div style="clear: both"> </div>
        <app-activities> </app-activities>
      </div>

      <div class="header">
          <mat-icon [inline]="true" class="icons">import_contacts</mat-icon> <h5 class="h5class">Czytam</h5>
          <div style="clear: both"> </div>
          <app-books></app-books>
        </div>

        <div class="header">
            <mat-icon [inline]="true" class="icons">music_note</mat-icon> <h5 class="h5class"> Słucham</h5>
            <div style="clear: both"> </div>
            <app-music></app-music>
          </div>

          <div class="header">
              <mat-icon [inline]="true" class="icons">movie_filter</mat-icon> <h5 class="h5class"> Oglądam </h5>
              <div style="clear: both"> </div>
              <app-films></app-films>
            </div>


</div>

</div>
