<!-- <app-menu> </app-menu> -->
<div class="container" >

  <div class="registry">

    <div class="regbox">
      <img class="logo" src="assets/img/739453.png" width="30%" height="30%">
      <div class="prettyText">Poznaj i odmień swoje życie </div>

      <div class="gender">
        <div class="myGender">
          <h3>JESTEM</h3>

          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" class="choose">Kobietą</mat-radio-button>
            <mat-radio-button value="2" class="choose">Mężczyzną</mat-radio-button>
          </mat-radio-group>

        </div>
        <div class="colGender">
          <h3>SZUKAM</h3>

          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" class="choose">Kobiety</mat-radio-button>
            <mat-radio-button value="2" class="choose">Mężczyzny</mat-radio-button>
          </mat-radio-group>

        </div>



        <div style="clear: both"> </div>

      </div>

      <div class="example-container">

        <mat-form-field appearance="outline" >
          <input class="outline-form" type="text" matInput placeholder="podaj e-mail" [formControl] = "email" required >
          <mat-error *ngIf = "email.invalid"> {{getErrorMessage()}} </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput placeholder="podaj hasło" [type]=" hide ? 'password' : 'text'" [formControl] = "password" required >
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf = "password.invalid"> {{getErrorMessage()}} </mat-error>
        </mat-form-field>

        <button  mat-fab class="round-button" routerLink="/registry-form"> > > </button>
        </div>



    </div>

    <div class="buttondiv">

    </div>
    <div style="clear: both"> </div>
  </div>
</div>
