
<div class="wrapper">
  <div class="big-content-box">


    <mat-grid-list cols="3" rowHeight="400px">
        <mat-grid-tile
            *ngFor="let user of users |
            slice: lowValue : highValue" >
            <div class="user-profile">
           <div class="pic">
              <img class="image" [src]="user.avatar" width="100%" height="100%">
            </div>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{user.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{user.surname}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                {{user.educationid.proffesion}}, {{user.localization}}

              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-paginator [length]="users.length" [pageSize]="pageSize"
   (page)="pageEvent = getPaginatorData($event)">
</mat-paginator>



  </div>
</div>
